<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{pageTitle}}</title>
</head>

<body>
    {{> header}}

    <main class="config-page">
        <section class="config">
            <h2>Configure - {{room.name}}</h2>

            {{!-- Name of the room --}}
            <article class="room-name">
                <p>{{room.name}}</p>
            </article>

            {{!-- Maximum room capacity --}}
            <article class="room-capacity">
                <p>{{room.capacity}}</p>
            </article>

            {{!-- List of room moderators by username --}}
            <article class="room-moderators"></article>

            {{!-- Optional --}}
            <article class="room-password">{{decrypt room.password}}</article>

            {{!-- Room must be joined by name --}}
            <article class="room-hidden"></article>

            {{!-- List of banned users by username --}}
            <article class="room-banned-users-list">
                <h3>Banned Users</h3>
                <span>{{room.bannedUsers}}</span>
                <div class="banned-users-list">
                    {{#each room.bannedUsers}}
                    <div class="banned-user-item" id="{{_id}}">
                        <span class="username">{{username}}</span>
                        <button class="unban-user-btn" class="unban-user-btn" data-user-id="{{_id}}">Unban</button>
                    </div>
                    {{/each}}
                </div>
            </article>

            <article class="ban-user">
                <label for="ban-user">Ban User</label>
                <input type="text" name="ban-user" id="ban-user-input">
                <button id="ban-user-btn">Ban</button>
            </article>

            {{!-- Permanently delete the room --}}
            <article class="room-delete"></article>
        </section>
    </main>

    {{> footer}}

    <script src="/js/config.js"></script>
</body>

</html>